.input-label{
    margin-left: 15px;
    margin-top: 10px;
}

.inputs{
    background: green;
}

.input-content{
    margin-top: 10px;
}

#addmeaning-button{
    width: 100%;
}

.summit-button{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.summit-button ion-button{
    width: 100%;
}
.meanings --background{
    background: rgb(218, 213, 213)!important;
}