.input-label{
    margin-left: 15px;
    margin-top: 10px;
}

.inputs{
    width: 100%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    --border-radius: 20px;
    --highlight-height: 0px;
}

.input-content{
    margin-top: 10px;
}

#addmeaning-button{
    width: 100%;
}

.summit-button{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.summit-button ion-button{
    width: 100%;
    min-height: 60px;
}

.meanings{
    padding: 6px;
}

.invalid-message{
    color:#e74c3c;
    margin:0px;
}

.input-invalid{
    background:#e74c3c;
    margin-bottom: 0px;
}

ion-card{
    border: 2px solid #e74c3c;
}
.error-card-title{
    text-align: center;
    color:#e74c3c;
}

#error-message{
    color: #e74c3c;
    font-size: 90%;
}

.alert-icon{
    margin-top:2px;
    margin-right: 3px;
    color:#e74c3c;
}