
.option-button {
  min-width: 250px;
  min-height: 80px;
  display: block;
  margin-top: 40px;
  margin-left: auto!important;
  margin-right: auto!important;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}
