<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      New Word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup] ="wordform" id = "form-container">
    <ion-list>
      <ion-item class = "inputs">
        <ion-input formControlName = "word" placeholder = "Word or phrase"></ion-input>
      </ion-item>
      <ion-item class = "inputs">
        <ion-label>Word type</ion-label>
        <ion-select formControlName = "wordtype" [(ngModel)] = "wordType" value = "none" okText="Select" cancelText="Cancel">
          <ion-select-option value="phrasalverb">Phrasal verb</ion-select-option>
          <ion-select-option value="expression">Expression</ion-select-option>
          <ion-select-option value="normalword">Normal word</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf = "wordType == 'phrasalverb' || wordType == 'expression'" class = "input-content">
          <ion-item class = "inputs">
            <ion-input formControlName = "subtype" placeholder = "Word subtype. Eg: Get, up, make or whatever"></ion-input>
          </ion-item>
      </div>
      <div class = "input-content">
          <ion-item *ngFor = "let item of meaningList" class = "meanings" color = "meaning">{{item.meaning}}</ion-item>
          <ion-item class = "inputs">
            <ion-button id = "addmeaning-button" (click) = "addMeaning()" shape = "round" size = "largue">Add a meaning</ion-button>
          </ion-item>
          
      </div>
      <div class = "input-content">
          <ion-item class = "inputs">
            <ion-input formControlName = "comment" placeholder = "Add a comment"></ion-input>
          </ion-item>
      </div>
    </ion-list>
  </form>

  <ion-card  *ngIf = "hasError == true" class = "error-card">
    <ion-card-content>
      <p id = "error-message"><ion-icon class = "alert-icon" name = "alert"></ion-icon>{{errorMessage}}</p>
    </ion-card-content>
  </ion-card>

  <div class = "summit-button">
    <ion-button (click) = "summitWord()" shape = "round">Summit</ion-button>
  </div>

</ion-content>
